:root {
    --light-background: #f8f8f8;
    --light-border: #eee;
}

.oo-ui-fieldLayout-messages {
    clear: both;/*field layout messages are a bit broken when combined with floating inputs*/
}

.oo-ui-menuSelectWidget {
    z-index: 4000;/*leaflet has crazily high z-indices and sometimes leaflet map and text suggestions overlap each other*/
}

#specialBreedingChainsLoadingBar {
    margin: 2% auto;
}

#specialBreedingChainsFormContainer {
    margin-bottom: 3%;
}

#specialBreedingChainsForm {
    width: fit-content;
    background-color: var(--light-background);
    border: 3px solid var(--light-border);
    padding: 1em;
    border-radius: 0.5em;
}

#breedingChainsSVGMap {
    width: 100%;
    height: 80vh;
    background-color: var(--light-background);
    border: 3px solid var(--light-border);
    border-radius: 0.5em;
}

.breedingchains-popup-non-single-link {
    float: left;
    margin-right: 0.25em;
}

#breedingChainsSVG line {
    stroke: black;
    stroke-width: 2;
}

#breedingChainsSVG circle, #breedingChainsSVG rect,
.breedingChainsSVGExample circle, .breedingChainsSVGExample rect {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

#breedingChainsSVG circle[color=green] {
    stroke: green;
}

#breedingChainsSVG circle[color=yellow] {
    stroke: yellow;
}

.breedingChainsMessageBox {
    width: 60%;
    margin: 1em auto;
    border-radius: 1em;
    padding: 0.5em;
    border-style: solid;
    border-width: 0.5em;
    text-align: center;
}

.breedingChainsInfoMessage {
    border-color: #3366cc;
}

.breedingChainsAlertMessage, .breedingChainsErrorMessage {
    border-color: #fa5f43;
}

@media only screen and (max-width: 600px) {
    .breedingChainsMessageBox {
        width: 90%;
    }
}

.breedingChainsLeafletText {
    text-align: center;
}

#breedingChainsMapResetButton {
    position: absolute;
    right: 1em;
    bottom: 1em;
    height: 10%;
    z-index: 401;/*z-index of leaflet overlay plane + 1*/
    cursor: pointer;
}